.modular-equations-algorithm-panel {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 61%;
    padding: 0 5vw 0 5vw ;
    box-shadow: 0 0 10px 0 rgba(141, 141, 141, 0.65);
    transform: translate(-30%, -50%);
}

.modular-equations-algorithm-panel .title {
    margin-top: 2vw;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.modular-equations-algorithm-panel .wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    justify-content: space-between;
}

.modular-equations-algorithm-panel .wrapper input {
    flex: 1;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(97, 218, 251);
    outline: none;
    padding: 0 0 0 5px;
    text-decoration: none;
    cursor: default;
    margin: 0 0 0 5px;
}

.modular-equations-algorithm-panel .wrapper textarea {
    width: 98%;
    height: 39.8vh;
    background-color: transparent;
    border-bottom: 3px solid rgb(97, 218, 251);
    outline: none;
    padding: 5px;
    text-decoration: none;
    cursor: default;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 550;
    line-height: 16px;
    white-space: pre;
    overflow: auto;
}

.modular-equations-algorithm-panel .wrapper label {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 0 0;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-variant: full-width;
    font-weight: 650;
}

.modular-equations-algorithm-panel .wrapper .content {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 0 0;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-variant: full-width;
    font-weight: 450;
}

.modular-equations-algorithm-panel .wrapper .actions {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 0 0;
    min-width: 250px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-style: normal;
    font-variant: full-width;
    font-weight: 650;
}

.modular-equations-algorithm-panel .wrapper .execute-button {
    padding: 5px 0 5px 0;
    margin: 10px 5px 0 5px;
    border-radius: 5px;
    min-width: 200px;
    text-align: center;
    opacity: 0.85;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: rgb(97, 218, 251);
    font-size: 18px;
    font-style: normal;
    font-variant: full-width;
    font-weight: 650;
}
.modular-equations-algorithm-panel .wrapper .execute-button:hover {
    opacity: 1;
}

.modular-equations-algorithm-panel .wrapper .edit-button {
    padding: 0 0 0 0;
    margin: 0 2px 0 2px;
    border-radius: 5px;
    min-width: 30px;
    text-align: center;
    opacity: 0.85;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: rgb(97, 218, 251);
    font-size: 18px;
    font-style: normal;
    font-variant: full-width;
    font-weight: 800;
}
.modular-equations-algorithm-panel .wrapper .edit-button:hover {
    opacity: 1;
}
