/* Application main screen */
.App {
    text-align: right;
    position: absolute;
    font-family: sans-serif;
    background: #282c34;
    color: #bbb;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    pointer-events: none;
    border-radius: 0;
    background-size: cover;
}

/* Application's logo (Deadpool image) */
.App-logo {
    text-align: left;
    height: 9vmin;
    pointer-events: none;
    margin: 0 5vmin 0 0;
    padding: 0;
}

/* Where we write the caption of the application. "Mathematical Tools Calculator" */
.App-header {
    display: flex;
    flex-direction: row;
    text-align: left;
    vertical-align: center;
    font-size: calc(5vmin + 2px);
    font-style: oblique;
    font-weight: bold;
    border-radius: 0;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 10vmin;
    transition: 0.5s;
    padding-top: 1vmin;
    z-index: 0;
    position: relative;
}

/* Align header */
.App-header .header-title {
    text-align: center;
    padding-top: 1vmin;
}

/* Responsive UI. When the screen width below 620px (for mobile), we use horizontal tabs where their content below them */
@media (max-width: 620px ) {
    .react-tabs {
        display: flex;
        flex-direction: column;
        color: white;
        background: #1c1d1f;
        margin: 0;
        padding: 0;
        height: 90%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
        pointer-events: auto;
        box-shadow: 0 0 2vmin 0 rgba(97, 218, 251, 0.7);
        z-index: 1;
        position: relative;
    }

    .react-tabs__tab-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: white;
        background: #3c3e43;
        text-align: center;
    }

    .react-tabs__tab {
        list-style: none;
        padding-left: 1vmin;
        padding-top: 0;
        margin-top: 0;
        justify-content: center;
        justify-items: center;
        vertical-align: top;
        cursor: pointer;
        color: #bbb;
    }

    .react-tabs__tab--selected {
        background: #1c1d1f;
        border-color: #1c1d1f;
        border-top: 4px solid #61dafb;
        color: white;
        justify-content: center;
        justify-items: center;
        vertical-align: center;
    }

    .react-tabs__tab-panel {
        display: none;
        background: #1c1d1f;
        margin-top: 2vmin;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .react-tabs__tab-panel--selected {
        display: block;
    }

    .execute-button {
        padding: 1vmin 0 1vmin 0;
        margin: 2vmin 1vmin 0 1vmin;
        border-radius: 1vmin;
        min-width: 120px;
        text-align: center;
        opacity: 0.85;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        background: rgb(97, 218, 251);
        font-size: calc(2vmin + 6px);
        font-style: normal;
        font-variant: full-width;
        font-weight: 650;
    }
}

/* Responsive UI. When screen width above 620 pixels (PC), use vertical tabs where their content displayed next to them (right) */
@media (min-width: 620px ) {
    .react-tabs {
        display: flex;
        color: white;
        background: #1c1d1f;
        margin: 0;
        padding: 0;
        height: 90%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
        pointer-events: auto;
        box-shadow: 0 0 2vmin 0 rgba(97, 218, 251, 0.7);
        z-index: 1;
        position: relative;
    }

    .react-tabs__tab-list {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0;
        padding: 0;
        color: white;
        background: #3c3e43;
        text-align: center;
        font-size: calc(2vmin + 3px);
    }

    .react-tabs__tab {
        list-style: none;
        padding-left: 1vmin;
        cursor: pointer;
        color: #bbb;
    }

    .react-tabs__tab--selected {
        background: #1c1d1f;
        border-color: #1c1d1f;
        border-left: 4px solid #61dafb;
        color: white;
    }

    .react-tabs__tab-panel {
        display: none;
        background: #1c1d1f;
        margin-left: 2vmin;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .react-tabs__tab-panel--selected {
        display: block;
    }

    .execute-button {
        padding: 1vmin 0 1vmin 0;
        margin: 2vmin 1vmin 0 1vmin;
        border-radius: 1vmin;
        min-width: 200px;
        text-align: center;
        opacity: 0.85;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        background: rgb(97, 218, 251);
        font-size: calc(2vmin + 6px);
        font-style: normal;
        font-variant: full-width;
        font-weight: 650;
    }
}

.copyright {
    font-size: calc(4px + 2vmin);
    position: sticky;
    margin-right: 1vmin;
    margin-top: 2vmin;
    padding-top: 2vmin;
    font-weight: 200;
    color: #bbb;
}

.wrapper label {
    text-align: left;
    padding: 2vmin 1vmin 0 1vmin;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: calc(2vmin + 3px);
    font-style: normal;
    font-variant: full-width;
    font-weight: bold;
}

.wrapper .content {
    text-align: left;
    padding: 1vmin 1vmin 0 1vmin;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: calc(2vmin + 2px);
    font-style: normal;
    font-variant: full-width;
    font-weight: 500;
    color: #bbb;
}

.wrapper .actions {
    padding: 1vmin 1vmin 1vmin 1vmin;
    margin: 1vmin 1vmin 0 0;
    min-width: 250px;
    display: flex;
    justify-content: flex-start;
    font-size: calc(2vmin + 6px);
    font-style: normal;
    font-variant: full-width;
    font-weight: bold;
}

.edit-button {
    padding-top: 2px;
    margin: 0 2px 0 2px;
    border-radius: 1vmin;
    min-width: 30px;
    text-align: center;
    vertical-align: center;
    opacity: 0.85;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: rgb(97, 218, 251);
    font-size: calc(2vmin + 6px);
    font-style: normal;
    font-variant: full-width;
    font-weight: bold;
}

.edit-button:hover {
    opacity: 1;
}

.wrapper .execute-button:hover {
    opacity: 1;
}

.title {
    margin-top: 1vmin;
    font-size: calc(4vmin + 2px);
    font-weight: 500;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.wrapper input {
    flex: 1;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(97, 218, 251);
    outline: none;
    padding-left: 1vmin;
    text-decoration: none;
    cursor: default;
    margin: 0 0 0 1vmin;
    color: #bbb;
    font-size: calc(2vmin + 3px);
}

.wrapper textarea {
    width: 98%;
    background-color: transparent;
    border-bottom: 3px solid rgb(97, 218, 251);
    outline: none;
    padding: 1vmin;
    text-decoration: none;
    cursor: default;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: calc(2vmin + 4px);
    font-style: normal;
    font-variant: normal;
    font-weight: 550;
    line-height: calc(2vmin + 6px);
    white-space: pre;
    overflow: auto;
    color: #bbb;
}

input[type=number]::-webkit-inner-spin-button {
    cursor: default;
    width: 40px;
    margin: 0;
    height: 20px;
    line-height: 11vmin;
    background: rgb(97, 218, 251);
}

.wrapper select {
     flex: 1;
     border: none;
     background-color: transparent;
     border-bottom: 2px solid rgb(97, 218, 251);
     outline: none;
     padding-left: 5px;
     text-decoration: none;
     cursor: default;
     margin: 0 0 0 5px;
     color: #bbb;
     font-size: calc(2vmin + 3px);
 }
