.message-box {
    border-radius: 1px;
    width: 99%;
}

.info {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: left;
    background: rgb(150, 255, 150);
    color: black;
}

.warning {
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    background: rgb(255, 255, 150);
    color: black;
}

.error {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: left;
    background: rgb(255, 100, 100);
    color: black;
}

.message-box-title {
    display: inline-block;
    padding-right: 5px;
    font-size: 18px;
    font-weight: 600;
}

.message-box-content {
    display: inline-block;
    font-size: 14px;
    align-content: center;
    font-weight: 400;
}